# .flake8
[flake8]
max-line-length = 120
exclude =
    .git,
    __pycache__,
    build,
    dist,
    .venv,
    alembic*
ignore =
    E203,
    W503,
    W191,
    E712,
    E122
max-complexity = 10

# Порядок импортов
application-import-names = app
import-order-style = google

# Параметры других плагинов
# commas
inline-quotes = '"'
allow-multiline = true

# print
no-print = true
